
env/
venv/
.venv/


data/raw/CNRPark-Patches-150x150

data/raw/CNR-EXT-Patches-150x150

.env
secrets.toml

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.DS_Store
Thumbs.db
.vscode/
.idea/
.ipynb_checkpoints/

.streamlit/
*.log